<a href="https://colab.research.google.com/github/denverkim/Python-for-Beginners/blob/main/2_2_3_%EB%AC%B8%EC%9E%90%ED%98%95_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%88%AC%ED%86%A0%EB%A6%AC%EC%96%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.w3schools.com/python/python_strings.asp

## 문자열(String) 생성
문자열은 작은따옴표(' ') 또는 큰따옴표(" ")로 감싸서 만듭니다.

In [2]:
string1 = "Hello"
string2 = 'Python'
print(string1)  # Hello
print(string2)  # Python

Hello
Python

In [1]:
# 문자열 안에 작은따옴표(')나 큰따옴표(")를 포함시키는 방법

print("It's alright")          # 큰따옴표로 감싸서 작은따옴표 포함
print("He is called 'Johnny'") # 큰따옴표 안에 작은따옴표 포함
print('He is called "Johnny"') # 작은따옴표 안에 큰따옴표 포함

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
# 문자열을 변수에 할당하고 출력하기

a = "Hello"  # 변수 a에 문자열 "Hello" 할당
print(a)     # 변수 a의 값을 출력

## 여러 줄 문자열
삼중 따옴표(''' ''' 또는 """ """)로 여러 줄 문자열 생성 가능

In [3]:
# 여러 줄 문자열 (Multiline Strings) 사용 예제

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# 문자열 인덱싱과 슬라이싱
문자열은 인덱스를 통해 문자에 접근 가능, 0부터 시작
음수 인덱스는 뒤에서부터 카운트

In [4]:
# 문자열은 문자들의 배열 (배열처럼 인덱스로 접근 가능)

a = "Hello, World!"
print(a[1])  # 문자열에서 두 번째 문자 출력 ('e')

e

In [5]:
# 문자열을 반복문으로 순회하기

for x in "banana":
    print(x)

b
a
n
a
n
a

In [6]:
# 문자열 길이 구하기
a = "Hello, World!"
print(len(a))

13

In [7]:
# 문자열 내 특정 단어 포함 여부 확인하기
txt = "The best things in life are free!"
print("free" in txt)  # True 또는 False 출력

# txt 문자열 안에 "free"가 포함되어 있는지 확인
if "free" in txt:
  print("Yes, 'free' is present.")

True
Yes, 'free' is present.

In [8]:
# 문자열에 특정 단어가 없는지 확인하기
txt = "The best things in life are free!"
print("expensive" not in txt)  # True 또는 False 출력

if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

True
No, 'expensive' is NOT present.

In [9]:
# 문자열 슬라이싱 (Slicing)
b = "Hello, World!"

print(b[2:5])   # 인덱스 2부터 4까지 (5 미포함) => "llo"
print(b[:5])    # 시작부터 인덱스 4까지 => "Hello"
print(b[2:])    # 인덱스 2부터 끝까지 => "llo, World!"
print(b[-5:-2]) # 뒤에서 5번째부터 3번째 전까지 => "orl"

llo
Hello
llo, World!
orl

# 문자열 변환

In [ ]:
# 대문자 변환
a = "Hello, World!"      # 문자열 변수 a에 텍스트 할당
print(a.upper())         # 문자열을 모두 대문자로 변환하여 출력

In [ ]:
# 소문자 변환
a = "Hello, World!"      # 문자열 변수 a에 텍스트 할당
print(a.lower())         # 문자열을 모두 소문자로 변환하여 출력

In [10]:
# 문자열의 앞뒤에 있는 불필요한 공백을 제거합니다.
a = " Hello, World! "
print(a.strip())

Hello, World!

In [11]:
# 문자열 내의 특정 문자를 다른 문자로 바꿉니다.
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [12]:
# 문자열을 특정 구분자(쉼표)를 기준으로 분리하여 리스트로 반환합니다.
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [13]:
# 문자열 합치기 예제

# 첫 번째 예제: 공백 없이 문자열을 바로 연결
a = "Hello"
b = "World"
c = a + b
print(c)  # 출력: HelloWorld

# 두 번째 예제: 문자열 사이에 공백 추가 후 연결
a = "Hello"
b = "World"
c = a + " " + b
print(c)  # 출력: Hello World

HelloWorld
Hello World

# 문자열 포매팅

In [15]:
# String Format 예제

age = 36
txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

In [17]:
# f-string (Python 3.6+)

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
# Placehoders

price = 59
txt = f"The price is {price} dollars"  # f-string으로 변수 값 삽입
print(txt)

In [18]:
# Modifiers

price = 59
txt = f"The price is {price:.2f} dollars"  # 소수점 둘째 자리까지 표시
print(txt)

The price is 59.00 dollars

In [19]:
# Operations

txt = f"The price is {20 * 59} dollars"  # 중괄호 안에서 계산식 사용 가능
print(txt)

The price is 1180 dollars

In [ ]:
# Escape Character

txt = "We are the so-called \"Vikings\" from the north."  # 큰따옴표 안에 큰따옴표를 쓰려면 \"로 이스케이프 처리
print(txt)

In [ ]:
# format() 메서드

quantity = 3
itemno = 567
price = 49.76

# 기본적인 format() 사용: 중괄호 {}에 순서대로 값이 들어감
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

# 인덱스를 지정하여 순서를 바꿔서 출력 가능
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))